{% extends '@Thought/layout.html.twig' %}

{% if status_code == '404' %}
    {% block content %}
        <div class="error404">
            <div class="title">404</div>
            <div class="href">
                <p>La page que vous recherchiez n'existe pas</p>
                <p><a href={{ path('thought_homepage_index') }}>Aller à la page d'accueil</a></p>
            </div>
        </div>
    {% endblock %}
{% endif %}
