<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'user.form.profile.profile_edit'|trans }}</h3>
    </div>
    {% form_theme form '@ApplicationSonataUser/Profile/Form/form-edit-profile.html.twig' %}
    <div class="panel-body">
        <form action="{{ path('sonata_user_edit_profile_info') }}" method="POST" class="form-horizontal">
            {{ form_widget(form) }}
            <div class="form-actions col-sm-7">
                <button type="submit" name="submit"  class="btn btn-info pull-right">{{ 'user.form.profile.button'|trans }}</button>
            </div>
        </form>
    </div>
</div>
