{% extends '@Thought/Profile/layout.html.twig' %}

{% block sonata_profile_title %}
    {{ group.title }}
{% endblock %}

{% block sonata_profile_content %}

    <div class="group-page">

        {% if group.chat is null %}
            <a class="group-page__chat-btn btn btn-info" href="{{ path('new_group_chat', {'groupId': group.id}) }}">Group chat</a>
        {% else %}
            <a class="group-page__chat-btn btn btn-info" href="{{ path('group_chat', {'groupId': group.id}) }}">Group chat</a>
        {% endif %}

        <div class="topic-lesson">
            <div class="topic-lesson__title">
                Le sujet de la nouvelle leçon
            </div>
            <div class="topic-lesson__content">
                {% if group.topicNewLesson is null %}
                    <span class="topic-lesson__empty-content"> While empty</span>
                {% else %}
                    {{ group.topicNewLesson }}
                {% endif %}
            </div>
        </div>

        <div class="students-block">
            <div class="students-block__title">
                {{ 'teacher.student_list.title'|trans }}
            </div>
            <ul class="students-block__list">
                {% for student in group.students %}
                    <li class="students-block__item">
                        <a href="{{ path('user_profile', {'userId': student.id}) }}">
                            {{ student.fullName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}