{% extends '@Thought/Profile/layout.html.twig' %}

{% block sonata_profile_title %}
    {{ 'student.group.title'|trans }}
{% endblock %}

{% block sonata_profile_content %}
    <div class="group-list-page">

        {% if groups is empty %}
            <div class="group-list-page__empty-list">
                {{ 'student.group.empty_list'|trans }}
            </div>
        {% else %}

            <ul class="group-list-page__list">
                {% for group in groups %}
                    <li class="group-list-page__item">
                        <a href="{{ path('my_group', {'groupId': group.id}) }}">{{ group.title }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}

    </div>

{% endblock %}