User <a href="{{ url('user_profile', { 'userId': user.id }) }}">{{ user.firstname }}</a> left a comment to the <a href="{{ url('thought_thoughtpage_index', { 'thoughtId': thought.id }) }}">{{ thought.category }}</a> quote  which you liked.