{% extends '@Thought/Profile/layout.html.twig' %}

{% form_theme form_info 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme form_settings 'bootstrap_3_horizontal_layout.html.twig' %}

{% block sonata_profile_title %}
    {% if student %}
        Profil {{ student.firstname }}
    {% elseif user == app.user %}
        Mes paramètres
    {% else %}
        {{ user.firstname }} {{ user.lastname }}
    {% endif %}
{% endblock %}

{% block sonata_profile_content %}

    <div class="panel panel-info">
        <div class="panel-heading">Profil utilisateur</div>
        <div class="panel-body">
            {{ form_start(form_settings) }}
                {{ form_row(form_settings.email) }}
                {{ form_row(form_settings.username) }}
                {{ form_row(form_settings.firstname) }}
                {{ form_row(form_settings.lastname) }}

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        {{ form_widget(form_settings.Save) }}
                    </div>
                    <div class="col-sm-8 text-right">
                        {% if not student %}
                            <button id="request-personal-data-btn" class="btn btn-info" data-url="{{ url('request_personal_data') }}">
                                Demander l'export de mes données
                            </button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-user-dialog-modal">
                                Supprimer mon compte
                            </button>
                        {% endif %}
                    </div>
                </div>
            {{ form_end(form_settings) }}
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Mes paramètres</div>
        <div class="panel-body">
            {{ form(form_info) }}
        </div>
    </div>

    {{ include('@Thought/Profile/User/removeUserDialogModal.twig') }}
    {{ include('@Thought/Profile/User/requestPersonalDataMessage.twig') }}
{% endblock %}