{% extends '@Admin/layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">
            {% trans %}Dashboard{% endtrans %}
        </a>
    </li>
    <li class="active">{{ 'sonata.admin.importAuthorPage.title'|trans }}</li>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="box box-primary" style="margin-bottom: 100px;">
                    <div class="box-body">
                        <h1>{{ 'sonata.admin.importAuthorPage.title'|trans }}</h1>
                        <form class="form-horizontal" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label class="control-label col-sm-2">
                                    {{ 'sonata.admin.importAuthorPage.title'|trans }}
                                </label>
                                <div class="col-sm-5">
                                    <input type="file" name="export_file" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-7">
                                    <button name="submit_file" type="submit" class="btn btn-info pull-right">Upload</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}