{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .checkbox label,
        .radio label {
            font-weight: 700;
            margin-left: 0px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.ckeditorImgUploadPath = '{{ path('ckeditor_image_upload') }}';
    </script>
{% endblock %}