<li>
    {% for item in menu %}
        <a
        {% if item.parameters is defined %}
         href="{{ path(item.route, item.parameters) }}
        {% else %}
         href="{{ path(item.route) }}
        {% endif %}
        "
                {% if item.parameters['topicId'] is defined %}
                    title="{{ item.label }}"
                {% endif %}
                {% if item.route == 'favorite-quotes' %}
                    title="{{ item.label }}"
                {% endif %}
        >{{ item.label|striptags|truncate(20) }}
            {% if item.route == 'sonata_user_thoughts' %}
                ({{ thoughts }})
            {% endif %}
            {% if item.route == 'friend_requests' %}
                ({{ requestsCount }})
            {% endif %}
            {% if item.route == 'chat_list' and newMessagesCount != 0 %}
                <span id="messages-counter">(+{{ newMessagesCount }})</span>
            {% endif %}
            {% if item.route == 'profile_topics_list' %}
                ({{ countTopics[1] }})
            {% endif %}
        </a>
    {% endfor %}
</li>
