{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'navbar.registration'|trans({}, 'messages') }}</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-10">
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.roles) }}

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label for="terms">
                                <input type="checkbox" id="terms" name="registration_form[terms]" class="registration-checkbox" data-com.bitwarden.browser.user-edited="yes">
                                {{  'user.form.registration.terms.url'|trans({'%url%': '/page/mentionslegales' }, 'messages')|raw }}
                            </label>
                        </div>
                    </div>
                </div>

                {{ form_row(form.receiveEmails) }}
                <div class="form-group margin-top-25">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">{{ 'user.form.registration.button'|trans({}, 'messages') }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let $form = $('form[name="fos_user_registration_form"]');
        $form.submit(function(event) {
            let $tosCheckbox = $form.find('input[name="registration_form[terms]"]')
            if (!$tosCheckbox.is(":checked")) {
                event.preventDefault();
                alert('Svp acceptez les mentions légales pour continuer')
            }
        })
    });
    // $(document).ready(function () {
    //
    //     grecaptcha.ready(function () {
    //         grecaptcha.render('captcha', {
    //             'sitekey' : '6Lf0gnIUAAAAAIOcDJST9QKJdz7KhbvcacgvizF5',
    //             'callback' : function (token) {
    //                 // console.log(token);
    //                 $('[id=front_user_registration_form_reCaptcha]').attr('value', token );
    //                 $('[id=registerForm]').submit();
    //             }
    //         });
    //     });
    //
    //     // $('#registerForm').submit(function(event) {
    //     //
    //     //     event.preventDefault();
    //     //     event.stopPropagation();
    //     // });
    //     $('.btn').click(function () {
    //         $('[id=registerForm]').submit();
    //     })
    // });
</script>

{#<script src='https://www.google.com/recaptcha/api.js?render=6Lf0gnIUAAAAAIOcDJST9QKJdz7KhbvcacgvizF5'></script>#}