{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .form-image {
            display: none;
        }
        .container {
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .text {
            padding: 20px 50px;
        }
    </style>
    <div class="container">
        <div class="text">
            If the download window isn't opened please click on the logo
        </div>
        <img class="image-uploader-img" src="{{ asset('logo.png') }}">
    </div>

    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/thought/js/imageuploader/function.js') }}"></script>
    <script>
        $(function () {
            window.resizeTo(300,300);
            $('#form-image input').trigger('click');
            $(".image-uploader-img").click(function () {
                $("#form-image input").click();
            });

        });
        $('#form-image').change(function () {
            $(this).submit();
        });
        {% if image_url is defined %}
            useImage('{{ image_url }}');
        {% endif %}
    </script>
{% endblock %}