{% extends "@Thought/Profile/layout.html.twig" %}

{% block sonata_profile_title %}
    {{ 'teacher.group.title'|trans }}
{% endblock %}

{% block sonata_profile_content %}

    <div class="row" style="padding: 10px 30px 20px">
        <a href="{{ path('teacher_group_create') }}" role="button" id="add-button-row" class="btn btn-info pagination-sm-4">
            {{ 'teacher.group.add_groups'|trans }}
        </a>
    </div>
    {% if groups is empty %}
        <p class="text-muted" style="padding: 18px ">
            You don't have groups yet
        </p>
    {% endif %}
    <div class="teacher-group-panel panel-group col-sm-6" id="accordion" role="tablist" aria-multiselectable="true">
    {% for group in groups %}
        <div class="panel">
            <div class="panel-heading" role="tab">
                <div class="panel-title">
                    <div class="title">
                        <a role="button"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#collapse-{{ group.id }}"
                           aria-expanded="true"
                           aria-controls="collapse-{{ group.id }}"
                        >
                            {{ group.title|slice(0, 20) }}
                        </a>
                    </div>
                    &ensp;
                    <div class="group-buttons">
                        <a class="plain"
                           href="{{ path('teacher_group_edit', {'id':  group.id}) }}"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="{{ 'teacher.group.edit_group'|trans }}"
                        >
                            <span class="glyphicon glyphicon-pencil info" aria-hidden="true"></span>
                        </a>

                        <a class="plain"

                                {% if group.chat is null %}
                                    href="{{ path('new_group_chat', {'groupId':  group.id}) }}"
                                {% else %}
                                    href="{{ path('group_chat', {'groupId':  group.id}) }}"
                                {% endif %}

                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="{{ 'teacher.group.chat'|trans }}"
                           style="margin-left: 20px"
                        >
                            <span class="glyphicon glyphicon-envelope info" aria-hidden="true"></span>
                        </a>

                        <a class="delete-button plain"
                           href="{{ path('teacher_group_delete', {'id':  group.id}) }}"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="Delete Groupe"
                           style="margin-left: 40px"
                        >
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

            </div>
            <div id="collapse-{{ group.id }}" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    {% if group.students is not empty %}
                        {% for student in group.students %}
                            <div class="student-item">
                                <a href="{{ path('student_profile', {'user_id': student.id}) }}">{{ student.fullName }}</a>
                                &nbsp;
                                <a href="{{ path('start_dialog', { 'userId': student.id }) }}"
                                   class="message-button"
                                   data-toggle="tooltip"
                                   title="Start a dialogue">
                                    <span class="glyphicon glyphicon-envelope text-info small" aria-hidden="true"></span>
                                </a>
                                <br>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">There are no students in this group yet</p>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            $('.panel-title').hover(
                function() {
                    $( this ).find('.group-buttons').css('visibility', 'visible');
                }, function() {
                    $( this ).find('.group-buttons').css('visibility', 'hidden');
                }
            )

            $('.delete-button').click(function (event) {
                return confirm("Are you sure you want to delete the group?");
            })

            $('.student-item').hover(
                function() {
                    $( this ).find('.message-button').css('visibility', 'visible');
                }, function() {
                    $( this ).find('.message-button').css('visibility', 'hidden');
                }
            )
        });
    </script>
{% endblock %}