{
    "results": [
        {% for student in results -%}
            {{ {id: student.id, text: student.fullname}|json_encode|raw }}
            {%- if not loop.last %},{% endif -%}
        {%- endfor %}
    ]
}