{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">

        <div class="panel panel-info">

            <div class="panel-heading">
                <h2 class="panel-title">{{ 'navbar.sign_in'|trans({}, 'messages') }}</h2>
            </div>

            <div class="panel-body">
                {% if error %}
                    <div class="text-center margin-bottom-20" style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}


                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">{{ 'security.login.username'|trans }}</label>
                        <div class="col-sm-8"><input type="text" class="form-control" id="username" name="_username" autocomplete="username" value="{{ last_username }}" required="required"/></div>
                    </div>

                    <div class="form-group control-group">
                        <label for="password" class="col-sm-4 control-label">{{ 'security.login.password'|trans }}</label>
                        <div class="col-sm-8"><input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password"/></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox control-group">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" id="_submit" name="_submit" class="btn btn-info" value="{{ 'security.login.submit'|trans }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>