{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js?render=6Lf0gnIUAAAAAIOcDJST9QKJdz7KhbvcacgvizF5'></script>
{% endblock %}