{% extends '@Thought/Profile/layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block sonata_profile_title %}
    {% if student %}
        {{ student.firstname }} thoughts
    {% else %}
        {{ 'user.thought.list_page.title'|trans }}
    {% endif %}
{% endblock %}

{% block sonata_profile_content %}
    <div class="row">
        <div class="col-sm-12">
            {#<p><a href="{{ path('sonata_user_thought_create') }}" class="btn btn-info">{{ 'user.thought.list_page.add_button'|trans }}</a></p>#}
            {{ form_start(form) }}
            <div class="row margin-bottom-20">
                <div class="col-sm-12">
                    {{ form_label(form.searchString) }}
                    <div class="custom-form-group">
                        {{ form_widget(form.searchString) }}
                        {{ form_widget(form.submit) }}
                        <a href="{{ path('profile_thoughts_list') }}" class="btn btn-warning">{{ 'thought.filter.buttons.reset'|trans }}</a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            {% set sorting = form.sort.vars['value'] %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
{#                        <th>#</th>#}
                        <th>{{ 'thought.property.content'|trans }}</th>
                        <th>{{ 'thought.property.author'|trans }}</th>
                        <th>{{ 'thought.property.category'|trans }}</th>
                        <th><a class="sort">{{ 'thought.property.created_at'|trans }} <i class="glyphicon glyphicon-triangle-{% if sorting == 'ASC' %}bottom{% else %}top{% endif %}"></i></a></th>
                        <th>{{ 'thought.property.edit'|trans }}</th>
                        <th>{{ 'thought.property.publish'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for thought in thoughts %}
                        <tr>
{#                            <td>{{ loop.index }}</td>#}
                            <td>{{ thought.content|striptags|slice(0, 50)|customTag}} (<a href="{{ path('thought_thoughtpage_index', {'thoughtId': thought.id }) }}">{{ thought.id }}</a>)</td>
                            <td>{{ thought.author }}</td>
                            <td>{{ thought.category }}</td>
                            <td>{{ thought.createdAt|date('d.m.Y H:i') }}</td>
                            <td>
                                {% if student %}
                                    <a href="{{ path('student_thought_edit', {'id': thought.id, 'user_id': student.id}) }}">
                                        Edit
                                    </a>
                                {% else %}
                                    <a href="{{ path('sonata_user_thought_edit', {'id': thought.id}) }}">
                                        Edit
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if student %}
                                    <a href="{{ path('thought_publish', {'thought_id': thought.id}) }}"
                                       data-toggle="tooltip"
                                       title="{{ thought.published ? 'Remove from publication' : 'Publish' }}"
                                    >
                                        <span class="label label-{{ thought.published ? 'success' : 'danger' }}">
                                            {{ thought.published ? 'Oui' : 'Non' }}
                                        </span>
                                    </a>
                                {% else %}
                                    <span class="label label-{{ thought.published ? 'success' : 'danger' }}">
                                        {{ thought.published ? 'Oui' : 'Non' }}
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center">{{ knp_pagination_render(thoughts) }}</div>
        </div>
    </div>
    <script>
        $().ready(function () {
            $('.sort').click(function () {
                $value = $('.sort-hidden').val();
                if ($value === 'ASC') {
                    $('.sort-hidden').val('DESC');
                } else {
                    $('.sort-hidden').val('ASC');
                }
                $('.search-form').submit();
            });

        });
    </script>
{% endblock %}


