{% extends '@Thought/layout.html.twig' %}

{% block content %}
    {% block sonata_page_breadcrumb %}{% endblock %}
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
