{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends '@Thought/Profile/layout.html.twig' %}

{% block sonata_profile_title %}{{ 'user.topic.create_page.title'|trans }}{% endblock %}

{% block sonata_profile_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'user.topic.create_page.title'|trans }}</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                    {#<form class="form-horizontal" method="post" {{ form_enctype(form) }}>#}
                        {#{{ form_widget(form) }}#}
                        {#<div class="pull-right">#}
                            {#<button class="btn btn-success">{{ 'user.chain.create_page.submit'|trans }}</button>#}
                        {#</div>#}
                    {#</form>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}