{% extends '@Thought/Profile/layout.html.twig' %}

{% block sonata_profile_title %}
    {% if student is defined and student is not null %}
        {{ student.firstname }} topics
    {% else %}
        {{ 'user.topic.list_page.title'|trans }}
    {% endif %}
{% endblock %}
{% block sonata_profile_content %}
    <div class="row">
        <div class="col-sm-12">
            {% if student is not defined or student is null %}
                <p><a href="{{ path('sonata_user_topic_create') }}" class="btn btn-info">{{ 'user.topic.list_page.create_button'|trans }}</a></p>
            {% endif %}
            <div class="row my-topics">
                {% for topic in topics %}
                    <div class="col-xs-12 col-sm-6 col-md-4 chain-list">
                        <a href="{{ path('topic_page', { 'topicId': topic.id }) }}" title="{{ topic.name }}">{{ topic.name|striptags|truncate(25) }}</a>
                        {% if topic.user == app.user %}
                            <div class="chain-edit">
                                <a class="text-primary plain" href="{{ path('sonata_user_topic_edit', { 'topicId': topic.id }) }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="text-primary text-danger plain" href="{{ path('sonata_user_topic_remove', { 'topicId': topic.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        {% elseif student is defined and student is not null %}
                            <div class="chain-edit">
                                <a class="text-primary plain" href="{{ path('sonata_user_topic_edit', { 'topicId': topic.id }) }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}