{% extends 'ThoughtBundle::layout.html.twig' %}

{% block page_title %}Les fils de la pensée{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ topic.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12 col-lg-8 profile-user">
            <div class="row">
                {% for chain in topic.chains.toArray %}
                    <div class="col-sm-4 chain-list">
                        <a class="chain-item" data-html="true" data-toggle="tooltip" data-placement="bottom" title="
                <div class=&quot;my-tooltip&quot;>
                    <div>{{ chain.name }}</div>
                    <div>
                        {{ 'chain.property.private'|trans }}:
                        {% if chain.isPrivate %}
                            Private
                        {% else %}
                            Public,
                            {% if chain.isCollective %}
                                collective
                            {% else %}
                                personally
                            {% endif %}
                        {% endif %}
                    </div>
                    <div>
                        {{ 'chain.property.quantity_quotes'|trans }}: {{ chain.chainThoughts|length }}
                    </div>
                    <div>
                        {{ 'chain.property.created'|trans }}: {{ chain.createdAt|date('d.m.Y') }}
                    </div>
                </div>
                " href="{{ path('chain_page', {'chainId': chain.id}) }}">{{ chain.name|striptags|truncate(25) }}</a>
                        <div class="chain-edit">
                            <a class="text-primary plain" href="{{ path('sonata_user_chain_edit', {'chainId': chain.id}) }}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a class="chain-remove text-danger plain" href="{{ path('sonata_user_chain_remove', {'chainId': chain.id}) }}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {#<div class="navigation text-center">#}
                {#{{ knp_pagination_render(chains) }}#}
                {#</div>#}
            </div>

        </div>
    </div>

{% endblock %}