<div class="banner">
    {% if banner.page %}<a href="{{ path('dynamic_page', { 'slug': banner.page.slug }) }}">{% endif %}
        <div>
            {#<h4>{{ banner.title }}</h4>#}
            {{ banner.content|raw }}
        </div>
    {% if banner.page %}</a>{% endif %}
</div>