{% extends 'ThoughtBundle:include:tutorialModal.html.twig' %}
{% block modal_id %}likeModal{% endblock %}
{% block modal_header %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title like-modal">Fonction disponible uniquement pour les utilisateurs enregistrés. Veuillez vous <a href="{{ path('fos_user_security_login') }}">connecter </a> ou vous <a href="{{ path('fos_user_registration_register') }}">inscrire</a>.</h5>
    </div>
{% endblock %}
{% block modal_body %}
{% endblock %}