{% extends '@Thought/include/tutorialModal.html.twig' %}
{% block modal_id %}newThoughtModal{% endblock %}
{% block modal_header %}
    <div class="modal-header">
        <p>{{ 'modal.add_thought.header'|trans }}</p>
    </div>
{% endblock %}
{% block modal_body %}
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">{{ 'modal.buttons.close'|trans }}</button>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">{{ 'navbar.registration'|trans }}</a>
    </div>
{% endblock %}