<div id="{% block modal_id %}myModal{% endblock %}" class="modal fade thought-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% block modal_header %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">{{ 'modal.tutorial.header'|trans|raw }}</h5>
                </div>
            {% endblock %}
            {% block modal_body %}
                <form method="get" xmlns="http://www.w3.org/1999/html">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="inputSearch">{{ 'thought.filter.content.label'|trans }}</label>
                                <input value="{{ search.words is defined ? search.words : '' }}" type="text" name="search[words]" class="form-control" id="inputSearch" placeholder="{{ 'thought.filter.content.placeholder'|trans }}">
                                <input type="hidden" name="search[field][content]" value="on">
                                <input type="hidden" name="search[field][category]" value="on">
                                <input type="hidden" name="search[field][tags]" value="on">
                                <input type="hidden" name="search[field][author]" value="on">
                                <input type="hidden" name="search[field][thoughtInfo]" value="on">
                                <input type="hidden" name="search[sorting]" value="amount">
                                <input type="hidden" name="search[sorting_desc]" value="true">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">{{ 'modal.buttons.close'|trans }}</button>
                        <input type="submit" class="btn btn-info" value="{{ 'modal.buttons.search'|trans }}">
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
</div>