{% form_theme form '@Thought/Profile/Form/form-edit-profile.html.twig' %}
{% extends 'ThoughtBundle:Profile/Chains:edit.html.twig' %}

{% block sonata_profile_title %}{{ 'user.chain.create_page.title'|trans }}{% endblock %}

{% block sonata_profile_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'user.chain.create_page.title'|trans }}</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}