{% extends '@Thought/Profile/layout.html.twig' %}

{% block sonata_profile_title %}
    {% if student is defined and student is not null %}
        {{ student.firstname }} сhains
    {% else %}
        {{ 'user.chain.list_page.title'|trans }}
    {% endif %}
{% endblock %}

{% block sonata_profile_content %}

    {% if student is not defined or student is null %}
        {% block chain_navigation %}
            {{ render(controller('ThoughtBundle:Profile\\Chain:navigation', { 'routeName': app.request.get('_route') })) }}
        {% endblock %}
        <p><a href="{{ path('sonata_user_chain_create') }}" class="btn btn-info">{{ 'user.chain.list_page.add_button'|trans }}</a></p>
    {% endif %}

    <div class="row profile-chains">
        {% for chain in chains %}
            <div class="col-xs-12 col-sm-6 col-md-4 chain-list">
                <a class="chain-item" data-html="true" data-toggle="tooltip" data-placement="bottom" title="
                <div class=&quot;my-tooltip&quot;>
                    <div>{{ chain.name }}</div>
                    <div>
                        {{ 'chain.property.private'|trans }}:
                        {% if chain.isPrivate %}
                            Private
                        {% else %}
                            Public,
                            {% if chain.isCollective %}
                                collective
                            {% else %}
                                personally
                            {% endif %}
                        {% endif %}
                    </div>
                    <div>
                        {{ 'chain.property.quantity_quotes'|trans }}: {{ chain.chainThoughts|length }}
                    </div>
                    <div>
                        {{ 'chain.property.created'|trans }}: {{ chain.createdAt|date('d.m.Y') }}
                    </div>
                </div>
                " href="{{ path('chain_page', {'chainId': chain.id}) }}">{{ chain.name|striptags|truncate(25) }}</a>
                <div class="chain-edit">
                    <a class="text-primary plain" href="{{ path('sonata_user_chain_edit', {'chainId': chain.id}) }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    {% if student is not defined or student is null %}
                        <a class="chain-remove text-danger plain" href="{{ path('sonata_user_chain_remove', {'chainId': chain.id}) }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(chains) }}
        </div>
    </div>
{% endblock %}
{% block right_sidebar %}
    {{ render(controller('ThoughtBundle:Profile\\Chain:rightSidebar', { 'routeName': app.request.get('_route'), 'curTopicId': app.request.attributes.get('topicId') })) }}
{% endblock %}