{% extends 'ThoughtBundle::layout.html.twig' %}

{% block page_title %}{{ 'user.chain.shared_list_page.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 chain-list">
            <h1>{{ 'user.chain.shared_list_page.title'|trans }}</h1>
            <p>
                {{ 'user.chain.shared_list_page.text'|trans }}
            </p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'chain.property.name.title'|trans }}</th>
                    <th style="width: 95px;">{{ 'chain.property.created'|trans }}</th>
                    <th>{{ 'chain.property.quantity_quotes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for chain in chains %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ path('chain_page', { 'chainId': chain.id }) }}">{{ chain.name }}</a>
                            {% if chain.isPrivate == false %}
                                {#( {{ url('chain_page', {'chainId': chain.id}) }} )#}
                                {% if chain.user.firstname != null %}
                                    ({{ chain.user.firstname }}, {{ chain.id }})
                                {% else %}
                                    ( - , {{ chain.id }})
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ chain.createdAt|date('Y-m-d') }}</td>
                        <td>{{ chain.chainThoughts|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation text-center">
                {{ knp_pagination_render(chains) }}
            </div>
        </div>
    </div>

{% endblock %}