
/*------ Students list ------*/

.student-list-table {
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
}

.student-list-table > tbody tr:nth-of-type(2n) {
    background-color: #f7f7f7;
}

.student-list-table thead {
    background-color: #52a4da;
    color: white;
}

.student-list-table__name-col {
    font-weight: bold;
    width: 60%;
    padding: 10px !important;
}


.student-list-table__date-col{
    padding: 10px !important;
}

/*------ Teachers list ------*/

.teacher-list-table {
    margin-top: 20px;
    margin-left: 20px;
    width: 800px;
}

.teacher-list-table thead {
    background-color: #52a4da;
    color: white;
}

.teacher-list-table > tbody tr:nth-of-type(2n) {
    background-color: #f7f7f7;
}

.teacher-list-table__email-head {
    text-align: center;
}

.teacher-list-table__email-col {
    text-align: center;
}

.teacher-list-table__name-col {
    font-weight: bold;
    width: 30%;
    padding: 10px !important;
}

.teacher-list-table__reg-head {
    text-align: center;
}

.teacher-list-table__reg-col {
    text-align: center;
}

.teacher-list-table__date-col{
    padding: 10px !important;
}

/*------ Group list ------*/

.group-list-page {
    margin-left: 10px;
}

.group-list-page__list {
    list-style: none;
    padding: 10px 0px 0px 10px;
}

.group-list-page__empty-list {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}

.group-list-page__item {
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}

/*------ Group page ------*/

.group-page {
    position: relative;
    margin: 20px 0px 0px 30px;
}

.group-page__chat-btn {
    position: absolute;
    top: 2px;
    right: 0px;
}

.topic-lesson {
    margin-bottom: 40px;
}

.topic-lesson__title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

.topic-lesson__content {
    max-width: 500px;
    margin-left: 10px;
    word-wrap: break-word;
}

.topic-lesson__empty-content {
    margin-left: 10px;
}

.students-block__list {
    list-style: none;
    padding: 10px 0px 0px 10px;
}

.students-block__title {
    font-size: 17px;
    font-weight: bold;
}

.students-block__item {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}