.jumbotron{
    padding: 30px !important;
    border: solid 1px #ccc;
    background-color: transparent;
}
a.underline{
    text-decoration: underline;
}
a.underline:hover{
    text-decoration: none;
}
.jumbotron a:hover{
    text-decoration: none;
}
.jumbotron p{
    font-size: 14px;
    margin-bottom: 10px;
    overflow: auto;
}
.jumbotron strong{
    padding: 0;
}

.margin-top-17{
    margin-top: 17px;
}
.margin-bottom-17{
    margin-bottom: 17px;
}
@media (min-width: 1200px) {
    .with_sort_label{
        width: 13%;
    }
    .checkbox label + label{
        margin-left: 30px;
    }
    .field_block .row{
        padding-top: 18px;
    }
    .filter_block .checkbox{
        padding-right: 0;
        text-align: right;
    }
}
.form-error{
    list-style: none;
    padding-left: 5px;
    font-size: 1.2rem;
    color: red;
}

label.required:after{
    content: '*';
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #2aabd2;
    border-color: #2aabd2;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0 -1px 0 #286090;
    border-color: #28a4c9;
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.navbar .navbar-brand {
    font-size: 30px;
    padding: 10px 15px;
    line-height: 30px;
}
.quote_title, .quote_content {
    font-size: 17.5px !important;
}
.quote_content {
    font-family: "Courier New" !important;
}
.filter_block .form-group{
    padding-right: 0;
}
.quote_edit{
    float: right;
}
.quote_edit a{
    font-size: 0.8em;
    color: red;
}
.footer{
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}