/*@import 'quote.css';*/
@import "profile.css";
@import "chat.css";

.d-none {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

th {
    border-bottom: 1px solid #ddd !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.top-alert {
    background: #e38d11;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.top-alert.orange {
    background: #e38d11;
}

.top-alert.blue {
    background: #3e56ae;
}

.related-thoughts-block {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.related-thoughts-block > a {
    text-decoration: dashed;
    text-decoration-line: underline;
}

.related-thoughts {
    display: none;
    flex-direction: column;
}

.related-thoughts > a {
    display: flex;
    padding: 3px 0;
    cursor: pointer;

}

.new-message {
    background-color: #eaf3f6
}

.margin-top-25 {
    margin-top: 25px;
}

.banner .jumbotron {
    border: none;
}

.banner a {
    color: black;
    display: block;
}

.banner a:hover {
    text-decoration: none;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.fixed-menu {
    /*position: fixed;*/
    min-height: 400px !important;
    width: 160px;
}

.tooltip div {
    text-align: left !important;
}

.container {
    padding-bottom: 30px;
}



.favorite-thougts-title {
    display: block;
}

.w100 {
    width: 100%;
}

.dashed.collapsed {
    border-bottom: 1px dashed rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none;
}

.dashed:hover {
    border-bottom: none;
    cursor: pointer;
    text-decoration: none;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.show-link:hover {
    cursor: pointer;
}

.show-link {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.profile-link {
    margin-bottom: 0 !important;
}

.comments {
    margin-top: 10px;
}

.comment-data {
    font-size: 11px !important;
    color: #a3a3a3;
}

.reply-button {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.friend {
    display: inline-block;
    color: #337ab7;
    padding: 10px;
}

.is-added {
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px dashed;
    color: #337ab7;
}

.table-responsive {
    border: none;
}

.my-custom-menu {
    padding-top: 0 !important;
}

.mainsearch {
    /*padding-right: 30px;*/
    margin: 0 25px 10px 0;
}

.banner-container {
    margin-right: 25px;
}



@media (max-device-width: 1024px){
    .mainsearch {
        padding-right: 30px;
        margin: 0 0 10px 0;
    }
}

@media (max-device-width: 768px){
    .mainsearch {
        padding-right: 15px;
        margin: 0 0 10px 0;
    }
}

.quote .quote_content span {
    font-size: 14px;
}

.media .row .col-sm-12 .panel {
    padding: 0;
}

.jumbotron{
    position: relative;
    padding: 30px !important;
    border: solid 1px #ccc;
    background-color: transparent;
}
.modal{
    border-radius: 3px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    top: 10%;
    bottom: initial;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.footer {
    margin-top: auto;
}

.footer > .container-fluid {
    padding-left: 0px;
}

.footer .fork-me-button {
    width: 100px;
}

.footer .license-text {
    font-weight: bold;
    color: #1f5081;
}

a.underline{
    text-decoration: underline;
}
a.underline:hover{
    text-decoration: none;
}
.jumbotron a:hover{
    text-decoration: none;
}
.jumbotron p{
    font-size: 14px;
    margin-bottom: 10px;
    overflow: auto;
}
.jumbotron strong{
    padding: 0;
}

.cke_no_bootstrap code{
    all: unset;
}

.cke_no_bootstrap kbd{
    all: unset;
}

a > img {
    outline: none;
}

.padding-vertical-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.margin-top-17{
    margin-top: 17px;
}
.margin-bottom-17{
    margin-bottom: 17px;
}

.padding-left-25 {
    padding-left: 25px !important;
}

@media (min-width: 768px) {
    .modal {
        width: 90%;
    }
}

@media (min-width: 970px) {
    .modal {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .with_sort_label{
        width: 13%;
    }
    .checkbox label + label{
        margin-left: 30px;
    }
    .field_block .row{
        padding-top: 18px;
    }
    .filter_block .checkbox{
        padding-right: 0;
        text-align: right;
    }
    .modal {
        width: 30%;
    }
}
.form-error{
    list-style: none;
    padding-left: 5px;
    font-size: 0.8rem;
    color: red;
}

label.required:after{
    content: '*';
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #2aabd2;
    border-color: #2aabd2;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0 -1px 0 #286090;
    border-color: #28a4c9;
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.navbar .navbar-brand {
    display: inline-block;
    font-size: 30px;
    padding: 10px 15px;
    line-height: 30px;
}

.navbar-toggle {
    margin-top: 25px;
    margin-bottom: 30px;
}

/*.navbar {*/
    /*height: 90px;*/
/*}*/

.navbar-left {
    padding-right: 20px;
}

.navbar-right {
    padding: 19px;
    font-size: 16px;
}

.quote_title, .quote_content {
    font-size: 17.5px !important;
}
.quote_content {
    font-family: "Arial" !important;
}
.filter_block .form-group{
    padding-right: 0;
    padding-left: 0;
}
.quote_edit{
    float: right;
    margin-top: 15px;
}
.quote_edit a{
    font-size: 0.8em;
    color: #337ab7;
    text-decoration: underline;
}
.footer{
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}
.block_comments{
    margin-bottom: 20px;
}

.chain-row {
    padding-top: 10px;
}

.chain-button {
    padding-right: 10px;
    padding-left: 0;
    /*padding-top: 5px;*/
}

.noticer-wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: auto;
}
.noticer-item {
    min-height: 80px;
    opacity: 0.8;
    margin-bottom: 15px;
    padding: 7px 12px;
    width: 100%;
}

.noticer-close{
    float: right;
    display: block;
    cursor: pointer;
    margin-top: -7px;
}
.noticer-body{
    margin-top: 6px;
}
.noticer-item.noticer-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.noticer-item.noticer-success .noticer-body a{
    color: #3c763d;
    font-weight: 700;
}
.noticer-item.noticer-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.noticer-item.noticer-danger .noticer-body a {
    color: #a94442;
    font-weight: 700;
}
.chain-quote-block{
    position: relative;
}
.chain-quote-title span{
    font-size: 20px;
}
.chain-quote-control{
    position: absolute;
    right: 3px;
    top: 5px;
    width: 20px;
}
.chain-quote-control div:last-child a{
    margin-top: 10px;
    display: inline-block;
}
.chain-quote-control div:last-child a:hover{
    text-decoration: none;
}
.chain-quote-comment-form form textarea{
    height: 120px;
}
.chain-quote-comment-form{
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.chain-quote-comment-block {
    padding-left: 10px;
    padding-right: 15px;
}

.form_comments form label {
    text-align: left !important;
}
.form_comments form textarea {
    height: 120px;
}
.add_chain{
    padding: 2px 5px;
}
.add_collective_chain{
    padding: 2px 5px;
}
.quote_chain select{
    padding: 2px 5px;
    font-size: 14px;
}
.chain-quote-control a{
    color: #28a4c9;
}

.my-tooltip {
    text-align: left;
}


.topic-list {
    display:flex;
    flex-direction: column;
    margin-top: 20px !important;
    font-weight: 300;
}

.topic-edit {
    display: inline;
}

.topic-link {
    padding: 10px 0;
    color: #337ab7 !important;
}

.topic-link a {
    padding-right: 10px;
    cursor: pointer;
}

.quote-list {
    display: none;
    flex-direction: column;
    padding: 10px;
}

.chain-list {
    display: none;
    flex-direction: column;
    padding: 10px;
}

.chain-link {
    /*display: flex;*/
    flex-direction: column;
    cursor: pointer;
}

.chain-link__topic-title {
    margin: 0px 10px 0px 20px;
    color: #0a303a;
}

.chain-edit {
    display: inline;
    margin-left: 10px;
}

.my-topics {
    padding: 10px;
}

.my-topics .chain-list {
    display: flex;
    flex-direction: row;
}

.profile-chains {
    padding: 10px;
}

.profile-chains .chain-list {
    display: flex;
    flex-direction: row;
}

.plain {
    text-decoration: none !important;
}

.error404 {
    margin-bottom: 200px;
}

.error404 .title {
    font-size: 200px;
    text-align: center;
    color: #337ab7;
}

.error404 .href {
    text-align: center;
    font-size: 40px;
}

.error404 .href a{
    font-weight: bold;
}

.close-button {
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}

.grecaptcha-badge {
    display: none;
}

div.alphas {
    text-align: center;
    font-size: 19px;
    margin-bottom: 25px;
}

div.alphas a {
    padding: 14px;
}

div.author_jumbotron {
    margin-bottom: 0;
    padding: 0 30px !important;
    border: solid 1px #fff;
    background-color: transparent;
}

div.author_jumbotron .dropdown{
    margin-bottom: 10px;
    display: none;
}

div.user_jumbotron {
    margin-bottom: 0;
    padding: 0 !important;
    border: solid 1px #fff;
    background-color: transparent;
}

p.quote_title a {
    cursor: pointer;
}

.message_preview {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.message_preview--new-message {
    background-color: #edf3ff;
}

div.panel-heading {
    margin: 0;
}
.chain-navigation {
    padding-bottom: 20px;
}

/*.custom-brand {*/
    /*padding: 228px;*/
    /*display: inline-block;*/
/*}*/

.text-navbar {
    display: inline-block;
    padding: 20px 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.sort {
    cursor: pointer;
}

.custom-form-group {
    display: flex;
}

.custom-form-group .btn {
    margin-left: 10px;
}

.thought-popup {
    padding-right: 0 !important;
    background: none;
}

.modal-dialog {
    margin: auto;
    width: auto;
}

.modal-header {
    padding: 25px;
    text-align: center;
}

.like-modal {
    font-size: 16px;
}

.modal-body {
    padding: 25px;
}

.modal-footer {
    padding: 0 25px 25px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
}

.not-found-text {
    padding: 25px 0 25px;
    font-size: 16px;
}

.label-role {
    cursor: pointer;
    font-weight: bold !important;
}

.label-role input {
    top: 4px;
}

.registration-checkbox {
    top: 4px;
}

.avjc {
    padding: 5px;
}

.av1000 {
    padding: 5px;
}

.bs-placeholder {
    width: 100%;
    text-align: right;
}

.quote_chain{
    float: right;
}

.quote_chain > .btn-group {
    width: 160px;
}

.quote_chain > .btn-group > button {
    width: 100%;
}

.quote_chain .dropdown-submenu{position:relative; cursor: default}
.quote_chain .dropdown-menu{right: 0; left: unset; text-align: right; padding-left: 10px}
.quote_chain .dropdown-submenu>.dropdown-menu{top:0;right: 100%; max-height: 200px; overflow: auto; margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.quote_chain .dropdown-submenu:hover>.dropdown-menu{display:block;}
.quote_chain .dropdown-submenu>a:after{display:block;content:" ";float:left;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 5px 5px 0;border-right-color:#cccccc;margin-top:5px;margin-left:-15px;}
.quote_chain .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.quote_chain .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.thought-lable {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 13px;
}

.quote_row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.quote #bind-thoughts-form input {
    width: 100px;
    height: 30px;
}

.quote #bind-thoughts-form a {
    margin-left: 3px;
}

.quote_row .put-in-chain {
    flex-grow: 1;
}

.quote_row .chain-selector {
    flex-grow: 1;
    justify-content: flex-end;
}

.quote_row .owner {
    align-self: center;
}

.quote_row .commentaires {
    padding-top: 4px;
}

/*Groups of teachers*/
.teacher-group-panel .panel-heading {
    padding-left: 0px;
}

.teacher-group-panel a {
    text-decoration: none;
}

.teacher-group-panel .panel-title {
    white-space: nowrap;
    font-size: 20px;
}

.teacher-group-panel .panel-title .title {
    white-space: nowrap;
    overflow: hidden;
    display: inline;
}

.teacher-group-panel .panel-title .title a{
    color: #262626;
}

.teacher-group-panel .panel-title .group-buttons {
    display: inline;
    visibility: hidden;
    letter-spacing: 2px;
    font-size: 15px;
}

.teacher-group-panel .panel-body {
    font-size: 18px;
    line-height: 30px;
    border-top: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.teacher-group-panel .panel-body a{
    color: #636161;
}

.teacher-group-panel .message-button {
    visibility: hidden;
}