<p>
    User <a href="{{ url('user_profile', { 'userId': user.id }) }}">{{ user.firstname }} {{ user.lastname }}</a> has sent you friend request.
</p>
<p>
    To accept the request view
    {% if user.gender == 'm' or user.gender == '' %}
    his
    {% else %}
    her
    {% endif %}
    <a href="{{ url('user_profile', { 'userId': user.id }) }}">profile</a>
</p>