{% extends "@Thought/Profile/layout.html.twig" %}

{% block sonata_profile_title %}
    {{ 'user.dialogs.title'|trans }}
{% endblock %}

{% block sonata_profile_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="media">
                {% for chat in app.user.myDialogs.toArray %}
                    {% if chat.chatType == constant('PRIVATE', chat) %}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="message_preview {% if chat.isNotReadMessages(app.user) %}message_preview--new-message{% endif %}">
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <h4 class="media-heading">
                                                    <a href="{{ path('chat', { 'chatId': chat.id }) }}">
                                                        {% if chat.users.toArray|length > 1 %}
                                                            {% for user in chat.users.toArray %}
                                                                {% if user != app.user %}
                                                                    {{ user.firstname }} {{ user.lastname }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ 'Utilisateur supprimé' }}
                                                        {% endif %}
                                                    </a>
                                                </h4>

                                                <p>
                                                    {% if (chat.messages.toArray is not empty) %}
                                                        {{ chat.messages.last.content }}
                                                    {% else %}
                                                        no messages
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <a href="{{ path('chat', { 'chatId': chat.id }) }}"
                                                   data-url="{{ url('chat', { 'chatId': chat.id }) }}"
                                                   class="btn btn-info pull-right reply-button"
                                                >
                                                    {{ 'user.dialogs.reply'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="message_preview {% if chat.isNotReadMessages(app.user) %}message_preview--new-message{% endif %}">
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <h4 class="media-heading">
                                                    <a href="{{ path('group_chat', { 'groupId': chat.group.id }) }}">
                                                        {{ chat.group.title }}
                                                    </a>
                                                </h4>

                                                <p>
                                                    {% if (chat.messages.toArray is not empty) %}
                                                        {{ chat.messages.last.content }}
                                                    {% else %}
                                                        no messages
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <a href="{{ path('group_chat', { 'groupId': chat.group.id }) }}"
                                                   data-url="{{ url('group_chat', { 'groupId': chat.group.id }) }}"
                                                   class="btn btn-info pull-right reply-button"
                                                >
                                                    {{ 'user.dialogs.reply'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}