{% extends '@Thought/Profile/layout.html.twig' %}

{% block my_custom_menu %}
{% endblock %}

{% block sonata_profile_title %}
        {{ 'user.list.title'|trans }}
{% endblock %}

{% block sonata_profile_content %}
    <div class="row">
        <div class="col-sm-12 userslist">
            {% for user in users %}
                <div class="col-sm-4">
                    <div class="jumbotron user_jumbotron">
                        <p class="quote_title">
                            <a class="author_name" href="{{ path('user_profile', { 'userId': user.id }) }}">
                                {{ user.firstname }} {{ user.lastname }}
                            </a>
                            <span style="white-space: nowrap">(
                                {% if user.getRole == 'ROLE_STUDENT' %}
                                    étudiant
                                {% elseif user.getRole == 'ROLE_TEACHER' %}
                                    enseignant
                                {% else %}
                                    {{ user.roleName }}
                                {% endif %}
                                )</span>
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="navigation text-center">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
{% endblock %}