{% extends '@Thought/Topics/topicsLayout.html.twig' %}

{% block topicsContent %}
    {% if not chains|length %}
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 align-self-center text-center margin-top-25">
                No chains found for the request
                <br>
                <a href="{{ path('topics') }}"><- go back to topics</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="topic-list">
                {% for chain in chains %}
                    <div class="chain-link" data-chain="{{ chain.id }}">
                        <a>{{ chain.name }}</a>
                        {% if chain.topic is not null %}
                            <span class="chain-link__topic-title"> ( {{ chain.topic.name }} ) </span>
                        {% endif %}
                        <div class="chain-edit">
                            <a href="{{ path('chain_page', {'chainId': chain.id }) }}" class="open-chain glyphicon glyphicon-link" aria-hidden="true"></a>
                            {% if chain.user == app.user %}
                                <a class="text-primary plain" href="{{ path('sonata_user_chain_edit', {'chainId': chain.id}) }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="chain-remove text-danger plain" href="{{ path('sonata_user_chain_remove', {'chainId': chain.id}) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                            {% if chain.isPrivate %}
                                <span class="label label-danger">Private</span>
                            {% else %}
                                <span class="label label-success">Chaines publiques</span>
                                {% if chain.isCollective %}
                                    <span class="label label-warning">Chaines collectives</span>
                                {% else %}
                                    <span class="label label-success">Personnel</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="quote-list" data-chain="{{ chain.id }}">
                            {% for chainThought in chain.chainThoughts.toArray|some_sort_filter %}
                                <a class="quote-link" data-quote="{{ chainThought.thought.id }}"
                                   href="{{ path('thought_thoughtpage_index', { 'thoughtId': chainThought.thought.id }) }}">
                                    {{ chainThought.thought.category }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
