{% extends '@Thought/Topics/topicsLayout.html.twig' %}

{% block topicsContent %}
    <div class="row">
        <div class="col-sm-12">
            <div class="topic-list">
                {% for topic in topics %}
                    <div class="topic-link" data-topic="{{ topic.id }}">
                        <a title="{{ topic.name }}" {% if not topic.chains|length %} style="color: #74afef" {% endif %}>{{ topic.name|striptags }}</a>
                            {% if topic.user == app.user %}
                                <div class="topic-edit">
                                    <a class="text-primary" href="{{ path('sonata_user_topic_edit', { 'topicId': topic.id }) }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </div>
                            {% endif %}

                        <div class="chain-list" data-topic="{{ topic.id }}">
                            {% for chain in topic.chains %}
                                <div class="chain-link" data-chain="{{ chain.id }}">
                                    <a>{{ chain.name }}</a>
                                    <div class="chain-edit">
                                        <a href="{{ path('chain_page', {'chainId': chain.id }) }}" class="open-chain glyphicon glyphicon-link" aria-hidden="true"></a>
                                        {% if chain.user == app.user %}
                                            <a class="text-primary plain" href="{{ path('sonata_user_chain_edit', {'chainId': chain.id}) }}">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                            <a class="chain-remove text-danger plain" href="{{ path('sonata_user_chain_remove', {'chainId': chain.id}) }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </a>
                                        {% endif %}
                                        {% if chain.isPrivate %}
                                            <span class="label label-danger">Private</span>
                                        {% else %}
                                            <span class="label label-success">Chaines publiques</span>
                                            {% if chain.isCollective %}
                                                <span class="label label-warning">Chaines collectives</span>
                                            {% else %}
                                                <span class="label label-success">Personnel</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="quote-list" data-chain="{{ chain.id }}">
                                        {% for chainThought in chain.chainThoughts.toArray|some_sort_filter %}
                                            <a class="quote-link" data-quote="{{ chainThought.thought.id }}"
                                               href="{{ path('thought_thoughtpage_index', { 'thoughtId': chainThought.thought.id }) }}">
                                                {{ chainThought.thought.category }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}