{% extends '@Thought/layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_title %}Les fils de la pensée{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'topic.title'|trans }}</h2>
            {{ form_start(form, {'action':  path('topics_search')}) }}
            <div class="row">
                <div class="col-sm-10">
                    {{ form_label(form.searchText) }}
                    {{ form_widget(form.searchText) }}
                </div>
                <div class="col-sm-2 margin-top-25">
                    {{ form_widget(form.submit) }}
                    <a href="{{ path('topics') }}" class="btn btn-warning">{{ 'thought.filter.buttons.reset'|trans }}</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% block topicsContent %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/thought/js/topics.js') }}"></script>
{% endblock %}