{% if thought.likes.count > 1 %}
    <div>
        <strong>Like</strong><br>
        {% if user is defined %}
            {% for user in thought.likes %}
                {% if user.user %}
                    {% if user.user.id != app.user.id %}
                        {{ user.user.firstname }} {{ user.user.lastname }}<br>
                    {% endif %}
                {% else %}
                    Unknown user<br>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}