{% extends 'ThoughtBundle::layout.html.twig' %}

{% block page_title %}Les fils de la pensée{% endblock %}

{% block content %}
     {% set search = app.request.get('search') %}
    {% set is_fields = search.field is defined ? true : false %}
    <form method="get" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-sm-12 alphas">
                    {{ range('A', 'Z')|alphabetAuthersLinks}}
                </div>
            </div>
            {% if thoughts is defined %}
                <div class="row">
                    <div class="col-sm-6">{{ 'thought.filter.result_counter'|trans }}: {{ thoughts.getTotalItemCount() }}</div>
                    <div class="col-sm-6 text-right">{{ 'thought.filter.time_counter'|trans }}: {{ timeExecute|round(4) }}s</div>
                </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(thoughts) }}
                </div>

                {% for thought in thoughts %}
                    {{ include('@Thought/quoteLayout.html.twig', {'thought': thought}) }}
                {% else %}

                {% endfor %}

                <div class="navigation text-center">
                    {{ knp_pagination_render(thoughts) }}
                </div>
            {% elseif authors %}
                <div class="row">
                    <div class="col-sm-6">{{ 'thought.filter.result_counter'|trans }}: {{ authors.getTotalItemCount() }}</div>
                    <div class="col-sm-6 text-right">{{ 'thought.filter.time_counter'|trans }}: {{ timeExecute|round(4) }}s</div>
                </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(authors) }}
                </div>

                {% for author in authors %}
                    {{ include('@Thought/authorLayout.html.twig', {'author': author}) }}
                {% else %}

                {% endfor %}

                <div class="navigation text-center">
                    {{ knp_pagination_render(authors) }}
                </div>

            {% endif %}
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            $('p.quote_title').on('click', 'a.author_name', function (){
                $(this).parents('.jumbotron').find('div.dropdown').slideToggle();
            });

        });

    </script>
{% endblock %}
