{% extends 'ThoughtBundle::layout.html.twig' %}

{% block page_title %}Les fils de la pensée{% endblock %}

{% block content %}

    <h2 class="chain-quote-title">
        {{ 'user.chain.page.title'|trans }} - <span>"{{ chain.name }}"</span>
        {% if app.user %}
            {% if chain.favorite == false %}
                <a href="{{ path('sonata_user_change_favorite', { 'id': chain.id }) }}" class="btn btn-info">{{ 'user.chain.list_page.favorite_button'|trans }}</a>
            {% else %}
                <a href="{{ path('sonata_user_change_favorite', { 'id': chain.id }) }}" class="btn btn-warning">{{ 'user.chain.list_page.remote_from_favorites_button'|trans }}</a>
            {% endif %}
        {% endif %}
    </h2>
    {% if app.user %}
        <div>
            <a href="{{ path('sonata_user_chains') }}">{{ 'user.chain.list_page.link'|trans }}</a>
        </div>
    {% endif %}
    <div class="row">

        {% block my_custom_menu %}
            {% if app.user %}
            <div class="span2 col-sm-2 my-custom-menu">
                {{ render(controller('ThoughtBundle:Profile\\Chain:navigation', { 'routeName': app.request.get('_route') })) }}
            </div>
            {% endif %}
        {% endblock %}
            <div class="
            {% if app.user %}
                col-sm-10
            {% else %}
                col-sm-12
            {% endif %}
            chain-quote-wrapper" style="padding-top: 8px">
            {% for thoughtChain in thoughtChains %}
                <div class="chain-quote-block">
                    {{ include('@Thought/quoteLayout.html.twig', {'thought': thoughtChain.thought}) }}
                    {% if app.user %}
                        {% if app.user.id == thoughtChain.chain.user.id %}
                            <div class="chain-quote-control" data-chain-id="{{ thoughtChain.chain.id }}" data-target="{{ thoughtChain.thought.id }}">
                                <div>
                                    <a class="chain-quote-remove" href="#">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="chain-quote-upper">
                                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" class="chain-quote-up">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" class="chain-quote-down">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" class="chain-quote-lower">
                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if app.user %}
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10 chain-quote-comments">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="chain-quote-comment-block">{{ 'thought.chain.comment.comments'|trans }}: {{ chain.comments|length }}</h5>
                        </div>
                    </div>
                    <div class="chain-quote-comment-block">
                        {% for comment in chain.comments %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-info comment-item">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="{{ path('user_profile', { 'userId': comment.user.id }) }}">
                                                        {{ comment.user.getFullNameEmail }}
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    {% if app.user.id == comment.user.id or is_granted('ROLE_ADMIN') %}
                                                        <a href="{{ path('chain_comment_remove', {'commentId': comment.id}) }}">
                                                            {{ 'user.chain.comment.delete'|trans }}
                                                        </a>
                                                    {% endif %}
                                                    {{ comment.createdAt|date('Y-m-d H:i') }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel-body">{{ comment.text|nl2br }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-md-6">
                    <div class="chain-quote-comment-form">
                        <h3>{{ 'thought.chain.comment.add'|trans }}</h3>
                        <form method="post" {{ form_enctype(form) }}>
                            {{ form_errors(form.text) }}

                            <div class="form-group">
                                {{ form_widget(form.text) }}
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-group comment-button-block">
                                <button class="btn btn-info pull-right">{{ 'thought.chain.comment.send_comment'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            {% endif %}
    </div>
    <script>
        $(document).ready(function() {

            $('span.author a').mouseover(function(){
                $(this).parents('div.quote').find('div.authors_info').fadeIn();
            }).mouseout(function(){
                $(this).parents('div.quote').find('div.authors_info').fadeOut();
            });

            $('.show-link').click(function () {
                var $btn = $(this);
                var thoughtId = $btn.data('id');
                var $element = $('.comments[data-id=' + thoughtId + ']');

                console.log($element);

                if ($element.hasClass('hidden')) {

                    $element.removeClass('hidden');
                } else {
                    $element.addClass('hidden');
                }
            });

        });

    </script>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/thought/js/add_quote_to_chaine.js') }}"></script>
{% endblock %}