<nav class="footer navbar-default">
    <div class="container-fluid">
        <a href="https://bitbucket.org/gaillard111/flp-french-thoughts/" target="_blank" title="fork me on bitbucket">
            <img class="fork-me-button" src="{{ asset('fork_me.png') }}" alt="fork me">
        </a>
        <span class="license-text">license  AGPL 3.0</span>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{{ '/page/mentionslegales' }}">
                    Mentions Légales
                </a>
            </li>
            <li>
                <a href="mailto:info@filsdelapensee.ch">
                    {{ 'footer.link1'|trans }}
                </a>
            </li>
            <li>
                <a href="mailto:info@filsdelapensee.ch">
                    {{ 'footer.link2'|trans }}
                </a>
            </li>
            <li>
                <a href="mailto:info@filsdelapensee.ch">
                    {{ 'footer.link3'|trans }}
                </a>
            </li>
        </ul>
    </div>
</nav>