<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="icon" href="{{ asset('icon.ico') }}">

    <!-- CKeditor -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/fosckeditor/contents.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/fosckeditor/plugins/copyformatting/styles/copyformatting.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/fosckeditor/plugins/tableselection/styles/tableselection.css') }}">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('bundles/thought/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/thought/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/thought/bvi/css/bvi.css') }}" >

    {% block stylesheets %}{% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Hotjar Tracking Code-->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:287405,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- End Hotjar Tracking Code-->

</head>
<body>
    {#<a href="#" class="className">Button visually impaired</a>#}
    {% if is_granted('ROLE_STUDENT') %}
        <div class="top-alert orange"> {{ 'sandbox.student_mode'|trans }} </div>
    {% elseif is_granted('ROLE_TEACHER')%}
        <div class="top-alert blue">{{ 'sandbox.teacher_mode'|trans }}</div>
    {% endif %}

    {{ render(controller('ThoughtBundle:Render:navbar')) }}

    <div class="container">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg|raw }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('errors') %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for msg in app.session.flashBag.get('errors') %}
                    {{ msg|raw }}
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    {% include '@Thought/footer.html.twig' %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/thought/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/thought/js/notice_script.js') }}"></script>
    <script src="{{ asset('bundles/thought/js/popup_script.js') }}"></script>
    <script src="{{ asset('bundles/thought/js/script.js') }}"></script>
    <script src="{{ asset('bundles/thought/bvi/bvi.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>

    <script>
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
        new isvek.Bvi({
            target: '.className',
            fontSize: 18,
            theme: 'green',
            lang: 'en-US'
        });
    </script>
{% block javascripts %}{% endblock %}

</body>
</html>