<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand custom-brand" href="{{ path('thought_homepage_index') }}">
                <img class="navbar-left" alt="Brand" src="/logo.png"> <span class="text-navbar hidden-sm hidden-xs">{{ 'navbar.brand'|trans }}</span>
            </a>
            <div>

            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

            {% include '@Thought/include/navigate_level.html.twig' %}

            {% if app.user %}
                <li class="dropdown" style="margin-bottom: 30px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Utilisateurs<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('user_list') }}">Users list</a></li>
                        {% if app.user.role == 'ROLE_ADMIN' or app.user.role == 'ROLE_SUPER_ADMIN' or app.user.role == 'ROLE_TEACHER' %}
                            <li><a href="{{ path('students_list') }}">Etudiants</a></li>
                        {% endif %}
                        {% if  app.user.role == 'ROLE_ADMIN' or app.user.role == 'ROLE_SUPER_ADMIN' %}
                            <li><a href="{{ path('teachers_list') }}">Enseignants</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown hidden-sm hidden-md hidden-lg" style="margin-bottom: 30px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">My data<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{ render(controller('ThoughtBundle:Render:menu', { 'routeName': app.request.get('_route'), 'mobile': true })) }}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'navbar.sign_out'|trans }}
                    </a>
                </li>

            {% else %}

                <li>
                    <a href="{{ path('fos_user_registration_register') }}">
                        {{ 'navbar.registration'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        {{ 'navbar.sign_in'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>