<div class="jumbotron quote" data-quote="{{ thought.id }}">

    {% if app.user %}
        {% if app.user.role == 'ROLE_STUDENT' or app.user.role == 'ROLE_TEACHER' %}
            {% if thought.owner.role is defined  %}
                {% if thought.owner.role == 'ROLE_STUDENT' or thought.owner.role == 'ROLE_TEACHER' %}
                    <span class="thought-lable label label-warning">Véritable Cination non validée</span>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% set already_chains = [] %}
    {% for arr_chain in thought.chainThoughts %}
        {% set already_chains = already_chains|merge([{name: arr_chain.chain.name, id: arr_chain.chain.id}]) %}
    {% endfor %}

    <p class="quote_title">
        <span>
            <a href="{{ path('thought_homepage_index', {'search[words]': thought.category, 'search[field][category]': 'on', 'search[strict]': 'on'}) }}">
                {{ thought.category }}
            </a>
        </span>

        {% if app.user %}
            {% set editThought = false %}
            {% if thought.owner is defined and thought.owner is not null %}
                {% if thought.owner.id == app.user.id %}
                    {% set editThought = true %}
                {% endif %}
            {% endif %}

            {% if is_granted('ROLE_MODERATOR') %}
                <span class="quote_edit">
                        <a href="{{ path('admin_thought_thought_edit', {'id': thought.id}) }}">
                            {{ 'user.thought.list_page.link.edit'|trans }}
                        </a>
                    </span>
            {% elseif editThought%}
                <span class="quote_edit">
                        <a href="{{ path('sonata_user_thought_edit', {'id': thought.id}) }}">
                            {{ 'user.thought.list_page.link.edit'|trans }}
                        </a>
                    </span>
            {% endif %}
        {% endif %}

    </p>

    <div class="cke_no_bootstrap">
        <p class="quote_content">
            <span>{{ thought.content|customTag|raw|nl2br }}</span>
        </p>
    </div>
    <p>
        <strong>{{ 'thought.property.author'|trans|capitalize }}:</strong>
        <span class="author">
            <a href="{{ path('thought_homepage_index', {'search[words]': thought.author, 'search[filter_open]': '', 'search[field][author]': 'on', 'search[sorting]': ''}) }}">
                {{ thought.author }}
            </a>
        </span>

        {% set author = thought.author|authorsInfo %}
    </p>

    {% if author and (author.birthDate or author.country or author.sex or author.job or author.continent) %}
        <div class="authors_info" style="display: none;">

            <p><strong>{{ 'author.filter.fields.birthDate.label'|trans }}:</strong> <span>{{ author.birthDate }}</span></p>
            <p><strong>{{ 'author.filter.fields.country.label'|trans }}:</strong> <span>{{ author.country }}</span></p>
            <p><strong>{{ 'author.filter.fields.sex.label'|trans }}:</strong> <span>{{ author.sex }}</span></p>
            <p><strong>{{ 'author.filter.fields.job.label'|trans }}:</strong> <span>{{ author.job }}</span></p>
            <p><strong>{{ 'author.filter.fields.continent.label'|trans }}:</strong> <span>{{ author.continent }}</span></p>
        </div>
    {% endif %}

    <p>
        <strong>{{ 'thought.property.thoughtInfo'|trans|capitalize }}:</strong>
        <span>{{ thought.thoughtInfo }}</span>
    </p>
    <p class="quote_tags">
            <span>
                {% for tag in thought.tags|split(' , ') %}
                    {% if tag|trim|length > 0 %}
                        [<a href="{{ path('thought_homepage_index', {'search[words]': tag, 'search[field][tags]': 'on'}) }}">
                        <span>{{ tag }}</span>
                    </a>]
                    {% endif %}
                {% endfor %}
            </span>
    </p>

    {#  button like and comment  #}
    <div class="quote_row">
        <div>
            {% set liked = thought.likes %}
            <button class="btn btn-info btn-sm like-quote" data-quote="{{ thought.id }}" type="button">
            <span data-toggle="tooltip" data-html="true" data-placement="bottom" title="{{ include('ThoughtBundle::also_liked_tooltip.html.twig') }}">
                <span class="badge-text">
                    {{ liked ? 'thought.property.liked'|trans : 'thought.property.like'|trans }}
                </span> <span class="badge" style="display: {{ (thought.totalLikes > 0) ? 'inline-block' : 'none' }}">{{ thought.totalLikes }}</span>
            </span>
            </button>
        </div>
        &nbsp;
        <div>
            {% if app.request.get('thoughtId') == null %}
                <a class="page_quote_button btn btn-info btn-sm" href="{{ path('thought_thoughtpage_index', {'thoughtId': thought.id}) }}">
                    {{ 'thought.comment.page_quote'|trans }}
                </a>
            {% endif %}
        </div>
        &ensp;
        <div>
            {% if app.user %}
                <form></form>
                <form id="bind-thoughts-form" class="form-inline" action="{{ path('link-quotes') }}" method="post" >
                    <input type="hidden" name="thought_id" value="{{ thought.id }}" />
                    <input type="number" class="form-control"  name="thoughtRelated_id" value="" placeholder="Quote ID" />
                    <a class="send_id_for_related btn btn-info btn-sm">Lier une citation</a>
                </form>
            {% endif %}
        </div>
    </div>

    {# This! This is not ok! This is vary bad сode! #}
    {% set relatedThoughtCount = 0 %}
    {% for thought in thought.relatedThoughts %}
        {% if userFriends[thought.owner.id] is defined  %}
            {% set relatedThoughtCount = +1 %}
        {% endif %}
    {% endfor %}
    {% for thought in thought.inverseRelatedThoughts %}
        {% if userFriends[thought.owner.id] is defined  %}
            {% set relatedThoughtCount = +1 %}
        {% endif %}
    {% endfor %}


    <div class="quote_row">
        {% if app.user and relatedThoughtCount > 0 %}
            <div class="related-thoughts-block">
                <a class="related-thoughts-label">Citations liées:</a>
                <div class="related-thoughts">
                    {% for relatedThought in thought.relatedThoughts %}
                        {% if userFriends[relatedThought.owner.id] is defined  %}
                            <span>
                                <a href="{{ path('thought_thoughtpage_index', {'thoughtId': relatedThought.relatedThought.id}) }}">
                                    {{ relatedThought.relatedThought.category }} ({{ userFriends[relatedThought.owner.id] }})
                                </a>
                                {% if relatedThought.owner == app.user  %}
                                    &ensp;
                                    <a href="{{ path('unlink-quotes', {'thoughtRelatedId': relatedThought.id}) }}"
                                       class="message-button"
                                       data-toggle="tooltip"
                                       title="Remove relation"
                                       style="font-size: 12px"
                                    >
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    </a>
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endfor %}
                    {% for inverseThought in thought.inverseRelatedThoughts %}
                        {% if userFriends[inverseThought.owner.id] is defined  %}
                            <span>
                                <a href="{{ path('thought_thoughtpage_index', {'thoughtId': inverseThought.thought.id}) }}">
                                    {{ inverseThought.thought.category }} ({{ userFriends[inverseThought.owner.id] }})
                                </a>
                                {% if inverseThought.owner == app.user  %}
                                    &ensp;
                                    <a href="{{ path('unlink-quotes', {'thoughtRelatedId': inverseThought.id}) }}"
                                       class="message-button"
                                       data-toggle="tooltip"
                                       title="Remove relation"
                                       style="font-size: 12px"
                                    >
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    </a>
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {#  Mis dans la chaine  #}
        <div class="put-in-chain">
            {% if already_chains|length %}
                {% set template = '@Thought/include/chainsTooltip.html.twig'  %}
                <span class="is-added pull-right hastooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ 'thought.chain.added_to_chain'|trans }} {{ include(template)|escape }}">
                    {{ 'thought.chain.already_added'|trans }}
                </span>
            {% endif %}
        </div>

    </div>

    {#  Commentaires  #}
    <div class="quote_row">
        <div class="commentaires">
            {% if thought.comments|length and app.request.get('_route') == 'thought_homepage_index' %}
                <a class="show-link" data-id="{{ thought.id }}">{{ 'thought.comment.quantity_comments'|trans }}: {{ thought.comments|length }}</a>
            {% else %}
                <p>{{ 'thought.comment.quantity_comments'|trans }}: {{ thought.comments|length }}</p>
            {% endif %}

            <div class="comments hidden" data-id="{{ thought.id }}">
                {% for thoughtComments in comments[thought.id] %}
                    {% for comment in thoughtComments %}
                        <p class="profile-link"><a href="">{{ comment.name }}</a></p>
                        <p class="comment-data">{{ comment.createdAt|date('d.m.Y') }}</p>
                        <p>{{ comment.text }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {{ include('@Thought/chainSelector.html.twig') }}
    </div>

    <div class="quote_row">
        <div class="owner">
            {% if thought.owner %}
                <span>
                    {{ 'thought.chain.added_to_site'|trans }}
                    <a href="{{ path('user_profile', { 'userId': thought.owner.id } ) }}">
                        {{ thought.owner.firstname }}
                    </a>
                </span>
            {% endif %}
        </div>
        <div>
            {% if chainId is defined %}
                {% if app.user %}
                    {% if already_chains|length %}
                        {% for chainThought in thought.chainThoughts %}
                            {% if chainThought.user != null and chainThought.chain.id == chainId %}
                                <span>
                                    {{ 'thought.chain.added_by'|trans }}
                                    <a href="{{ path('user_profile', { 'userId': chainThought.user.id } ) }}">
                                        {{ chainThought.user.firstname }}
                                    </a>
                                </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
