{% extends 'ThoughtBundle::layout.html.twig' %}

{% block page_title %}Les fils de la pensée{% endblock %}

{% block content %}

    {% if not app.user %}
        {{ include('@Thought/include/likeModal.html.twig') }}
    {% endif %}

    {{ include('@Thought/quoteLayout.html.twig', {'thought': thought}) }}

    <div class="row block_comments">
        <div class="col-sm-12">
            <h3>{{ 'thought.comment.title'|trans }}</h3>
        </div>
        <div class="col-sm-12">
            {% for comment in thought.comments %}
                <div class="panel panel-info comment-item col-sm-12">
                    <div class="panel-heading row">
                        <div class="col-sm-6">
                            {#<a href="{{ path('user_profile', { 'userId': comment.user.id }) }}">#}
                                {{ comment.fullName }}
                            {#</a>#}
                            {#{{ dump(comment) }}#}
                        </div>
                        <div class="col-sm-6 text-right">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('thought_thoughtpage_deletecomment', {'commentId': comment.id}) }}">{{ 'user.comment.delete'|trans }}</a>
                            {% endif %}
                            {{ comment.createdAt|date('Y-m-d H:i') }}
                        </div>
                    </div>
                    <div class="panel-body">{{ comment.text|nl2br }}</div>
                </div>
            {% else %}
                {{ 'thought.comment.no_comments'|trans }}
            {% endfor %}
        </div>

        {% set check1 = false %}
        {% set check2 = false %}

        {% if is_granted('ROLE_STUDENT') %}
            {% set check1 = true %}
        {% endif %}

        {% if thought.owner.roles is defined and 'ROLE_STUDENT' in thought.owner.roles %}
            {% set check2 = true %}
        {% endif %}

        {% if check1 == check2 %}
            {% set check = true %}
        {% else %}
            {% set check = false %}
        {% endif %}

        {% if app.user and check %}
            <div class="col-sm-12 col-md-6 form_comments">
                <h3>{{ 'thought.comment.add'|trans }}</h3>
                <form method="post" class="form-horizontal" {{ form_enctype(form) }}>
                    {{ form_errors(form.text) }}
                    {{ form_errors(form.email) }}


                    {{ form_widget(form.name, {'type': 'hidden'}) }}
                    {{ form_widget(form.email, {'type': 'hidden'}) }}

                    <div class="form-group">
                        {{ form_label(form.text) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.text) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="comment-button-block">
                        <button class="btn btn-info pull-right">{{ 'thought.comment.send_comment'|trans }}</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/thought/js/quote_functions.js') }}"></script>
    <script>
        $(".related-thoughts-label").click(function () {
            var $this = $(this);
            var $relatedThoughts = $this.next();

            if ($relatedThoughts.is(":hidden")) {
                $relatedThoughts.css('display', 'flex');
            } else {
                $relatedThoughts.hide();
            }

        });
    </script>
{% endblock %}