<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">{{ 'user.friendship.title'|trans }} {{ countFriends }}</a></li>
    <li>
        <a data-toggle="tab" href="#menu1">Demande d'ami
            {% if countReq != 0 %}
                (+{{ countReq }})
            {% endif %}
        </a>
    </li>
</ul>



