{% extends "@Thought/Profile/layout.html.twig" %}

{% block sonata_profile_title %}
    {{ 'user.friendship.title'|trans }}
{% endblock %}

{% block sonata_profile_content %}
    <div class="row">
        <div class="col-sm-10">
            {% include 'ThoughtBundle:Profile/Friends:friendnavs.html.twig' %}
        </div>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {% render(controller('ThoughtBundle:Profile\\Friend:friendList') ) %}
        </div>
        <div id="menu1" class="tab-pane fade">
            {% render(controller('ThoughtBundle:Profile\\Friend:friendRequests') ) %}
        </div>
    </div>
    {% if is_granted('ROLE_STUDENT') %}
        <div>
            <a href="" class="btn btn-info">Create group</a>
        </div>
    {% endif %}
{% endblock %}